{% load sc2 %}

<div role="grid" class="table team-size-{{ team_size }}">
  <div role="row" class="row">
    <div role="gridcell" class="cell heading number">Rank</div>
    <div role="gridcell" class="cell heading img">Region</div>
    <div role="gridcell" class="cell heading img">League</div>
    <div role="gridcell" class="cell heading img">Tier</div>
    <div role="gridcell" class="cell heading team-header">Team</div>
    {% if team_size > 1 %}<div role="gridcell" class="cell heading team-header"></div>{% endif %}
    {% if team_size > 2 %}<div role="gridcell" class="cell heading team-header"></div>{% endif %}
    {% if team_size > 3 %}<div role="gridcell" class="cell heading team-header"></div>{% endif %}
    <div role="gridcell" class="cell heading mmr">MMR</div>
    <div role="gridcell" class="cell heading number">Points</div>
    <div role="gridcell" class="cell heading number">Wins</div>
    <div role="gridcell" class="cell heading number">Losses</div>
    <div role="gridcell" class="cell heading number">Played</div>
    <div role="gridcell" class="cell heading number">Win&nbsp;rate</div>
    <div role="gridcell" class="cell heading number">Age</div>
  </div>
  {% for team in ladder.teams %}
    <a {% if team.team_id %}href="{% url 'team' team_id=team.team_id %}" style="cursor: pointer;" role="gridcell" class="row {% if team.team_id == highlight_team_id %} highlight-team{% endif %}{% endif %}">
      <div role="gridcell" class="cell number">{{ team.rank }}</div>

      <div role="gridcell" class="cell img"><img src="{{ STATIC_URL }}img/regions/{{ team.region | region_key }}-16x16.png" /></div>

      <div role="gridcell" class="cell img">{% if team.league %}<img class="league" src="{{ STATIC_URL }}img/leagues/{{ team.league  | league_key }}-16x16.png" />{% endif %}</div>

      <div role="gridcell" class="cell img">{{ team.tier }}</div>

      <div role="gridcell" class="cell player">
        <img class="race" src="{{ STATIC_URL }}img/races/{{ team.m0_race | race_key }}.svg" height="16px" width="16px" />
        {% if team.m0_tag %}<span class="tag">{{ team.m0_tag | tag_braces }}</span>{% endif %}<span class="name">{{ team.m0_name }}</span>
      </div>

      {% if team.m1_id %}
        <div role="gridcell" class="cell player">
          <img class="race" src="{{ STATIC_URL }}img/races/{{ team.m1_race | race_key }}.svg" height="16px" width="16px" />
          {% if team.m1_tag %}<span class="tag">{{ team.m1_tag | tag_braces }}</span>{% endif %}<span class="name">{{ team.m1_name }}</span>
        </div>
      {% elif team_size > 1 %}
        <div role="gridcell" class="cell"></div>
      {% endif %}

      {% if team.m2_id %}
        <div role="gridcell" class="cell player">
          <img class="race" src="{{ STATIC_URL }}img/races/{{ team.m2_race | race_key }}.svg" height="16px" width="16px" />
          {% if team.m2_tag %}<span class="tag">{{ team.m2_tag | tag_braces }}</span>{% endif %}<span class="name">{{ team.m2_name }}</span>
        </div>
      {% elif team_size > 2 %}
        <div role="gridcell" class="cell"></div>
      {% endif %}

      {% if team.m3_id %}
        <div role="gridcell" class="cell player">
          <img class="race" src="{{ STATIC_URL }}img/races/{{ team.m3_race | race_key }}.svg" height="16px" width="16px" />
          {% if team.m3_tag %}<span class="tag">{{ team.m3_tag | tag_braces }}</span>{% endif %}<span class="name">{{ team.m3_name }}</span>
        </div>
      {% elif team_size > 3 %}
        <div role="gridcell" class="cell"></div>
      {% endif %}

      <div role="gridcell" class="cell number">{{ team.mmr }}</div>

      <div role="gridcell" class="cell number">{{ team.points|format_points|none_to_dash }}</div>

      <div role="gridcell" class="cell number">{{ team.wins|none_to_dash }}</div>

      <div role="gridcell" class="cell number">{{ team.losses|none_to_dash }}</div>

      <div role="gridcell" class="cell number">{{ team.played|none_to_dash }}</div>

      <div role="gridcell" class="cell number">{{ team.win_rate|format_win_rate|none_to_dash }}</div>

      <div role="gridcell" class="cell number">{{ team.age|none_to_dash }}</div>
    </a>
  {% endfor %}
</div>
