{% load sc2 %}

{% if mode_nav %}
  <div  itemscope="" itemtype="http://schema.org/SiteNavigationElement" class="sub-nav">
    <div class="content">
      <span class="heading">Mode:</span>{% for visiting, title, key, href in mode_nav %}<a class="{{ visiting }}" href="{{ href }}"><span>{{ title }}</span></a>{% endfor %}
    </div>
  </div>
{% endif %}

<div  itemscope="" itemtype="http://schema.org/SiteNavigationElement" class="sub-nav">
  <div class="content">
    <div class="control"><span class="heading">Sort:</span><a class="{{ reverse_visiting }}" href="{{reverse_href }}"><span>(Reverse sort)</span></a>{% for visiting, title, key, href in sort_key_nav %}<a class="{{ visiting }}" href="{{ href }}"><span>{{ title }}</span></a>{% endfor %}</div>
    {% if version_nav %}<div class="control"><span class="heading">Version:</span>{% for visiting, title, key, href in version_nav %}<a class="{{ visiting }}" href="{{ href }}"><span>{{ title }}</span></a>{% endfor %}</div>{% endif %}
  </div>
</div>

<div  itemscope="" itemtype="http://schema.org/SiteNavigationElement" class="sub-nav">
  <div class="content">

    <div class="control compact"><span class="heading">Race:</span>{% for visiting, title, key, href in race_nav %}{% if forloop.first %}<a class="{{ visiting}}" href="{{ href }}"><span>{{ title }}</span></a>{% else %}<a class="{{ visiting }}" title="{{ title }}" href="{{ href }}"><img class="race" src="{{ STATIC_URL }}img/races/{{ key }}.svg" height="16px" width="16px"/></a>{% endif %}{% endfor %}</div>

    <div class="control compact"><span class="heading">Region:</span>{% for visiting, title, key, href in region_nav %}<a class="{{ visiting }}" title="{{ title }}" href="{{ href }}">{{ key|region_id|region_image|safe }}</a>{% endfor %}</div>

    <div class="control compact"><span class="heading">League:</span>{% for visiting, title, key, href in league_nav %}{% if forloop.first %}<a class="{{ visiting}}" href="{{ href }}"><span>{{ title }}</span></a>{% else %}<a class="{{ visiting }}" title="{{ title }}" href="{{ href }}"><img class="league" src="{{ STATIC_URL }}img/leagues/{{ key }}-128x128.webp" height="16px" width="16px"/></a>{% endif %}{% endfor %}</div>
  </div>
</div>
