{% extends "_base.html" %}
{% load sc2 %}

{% block pagetitle %}Leagues - {{ mode_id | mode_name | capfirst }} Stats - {% endblock pagetitle %}

{% block description %}Current and historic sc2 ladder league distribution statistics for {{ mode_id | mode_name }}.{% endblock description %}

{% block body_class %}stats{% endblock body_class %}

{% block page %}

<div itemprop="mainContentOfPage" class="content">
  <h1 itemprop="headline">{{ mode_id | mode_name }} League Distribution</h1>
  <p itemprop="about">
    Current and historic sc2 league distribution for teams. The data
    is calculated by counting all teams ranked in a season. If a player
    plays in multiple regions in identical teams
    that team will be counted several times for the world total. The
    region numbers are a more accurate way to count players. In 1v1
    and random teams each teams only consist of one player.
  </p>
  
  <h2>Current {{ mode_id | mode_name }} League Distribution</h2>
  <p>
    The current league distribution for the different
    regions. Select version to see numbers for LotV, HotS or WoL.
  </p>
</div>

<div id="leagues-table-container" class="data-container wait"> 
  <div class="controls">
    <div class="content"></div>
  </div>
  <div class="content">
    <table>
      <thead>
        <th></th>
        {% for region in regions %}
          <th>{{ region|region_image|safe }}<span class="icon-align region">{{ region | region_name }}</span></th>
        {% endfor %}      </thead>
      <tbody>
        {% for league in leagues %}
          <tr>
            <th><span class="icon-align league">{{ league | league_name }}</span><img class="league" src="{{ STATIC_URL }}img/leagues/{{ league  | league_key }}-128x128.webp" height="16px" width="16px"/></th>
            {% for region in regions %}
              <td id="r{{ region }}-l{{ league }}"><span class="number"></span><span class="percent"></span></td>
            {% endfor %}
          </tr>
        {% endfor %}
        <tr>
          <th class="no-img">Population</th>
          {% for region in regions %}
            <td id="r{{region}}-pop"><span class="number"></span><span class="percent">(100.00%)</span></td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="content">
  <h2>{{ mode_id | mode_name }} League Distribution Over Time</h2>
  <p>
    League distribution over time. Seasons are marked by the colored
    sections of the x-axis. Mouse over on points to see date, season
    and league distribution for that point.
  </p>
</div>

<div id="leagues-graph-container" class="data-container wait">
  <div class="controls">
    <div class="content"></div>
  </div>
  <canvas class="graph"></canvas>
  <div class="tooltip">
    <table>
      <tbody>
        <tr><th class="no-img">Date</th><td colspan="2" class="date"></td></tr>
        <tr><th class="no-img">Season</th><td colspan="2" class="season"></td></tr>
        {% for league in leagues %}
          <tr>
            <th><span>{{ league | league_name }}</span><img class="league" src="{{ STATIC_URL }}img/leagues/{{ league  | league_key }}-128x128.webp" height="16px" width="16px"/></th>
            <td class="l{{ league }}-n"></td><td class="l{{ league }}-p"></td>
          </tr>
        {% endfor %}
        <tr><th class="no-img">Population</th><td class="pop-n"></td><td class="pop-p">(100.00%)</td></tr>
      </tbody>
    </table>
  </div>
</div>

<div class="content">
  <p>
    To make it easier to compare seasons you can click "Season Last"
    to only see one point in the graph for each season. The last
    season shown in the graph is the ongoing season. It is also worth
    noting that Blizzard has target percentages for the ladders among
    "active" players so even though league distribution looks kind of
    unstable over time it may be more stable by that definition. As
    far as I know they have not stated what their definition of an
    "active" players is.
  </p>
</div>


{% endblock page %}


{% block body_js %}
  const table = new sc2.LeagueDistributionTable({{ mode_id }});
  const graph = new sc2.LeagueDistributionGraph({{ mode_id }});
{% endblock body_js %}
